/* Анимация стрелочки в списке тем сайта */
@keyframes arrow {
    from, to {
        inset-inline-start: -15px;
    }

    50% {
        inset-inline-start: -11px;
    }
}

/* Анимация сердца */
@keyframes heart {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}

@keyframes spark-animation {
    from, to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
