/* Общие стили для контейнеров */
.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-wght-normal);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  margin-block-start: 6.905%;
  inline-size: 48.6%;
  min-inline-size: 375px;
}

/* Общие стили для кнопок в main и footer */
.button {
  position: relative;
  border-style: solid;
  border-color: var(--border-container-color, black);
  background-color: transparent;
  cursor: pointer;
  transition: 
    box-shadow 0.3s ease, 
    transform 0.5s ease-in-out;
}

.button__text {
  z-index: 1;
  position: absolute;
  color: var(--button-inside-color, white);
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  mix-blend-mode: difference;
}

.button-uikit:focus {
  outline: none;
}

.button-uikit:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color, black);
}

.button-animation::after {
  content: '';
  position: absolute;
  display: block;
  inset-block-start: 0px;
  inset-inline-start: 0px;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color, black);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button-animation:hover::after {
  transform: scaleX(1);
}

/* Header */
.header {
  border: 2px solid var(--border-container-color, black);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: var(--background-container-color, white);
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;

}

.header__title {
  margin-block-start: 19.48%;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__sub-title {
  margin-block-start: 3%;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* Кнопки переключения тем */
.header__theme-menu {
  margin-block-start: 3.5%;
  margin-block-end: 3.1%;
  font-size: 14px;
}

.theme-menu__item {
  padding-inline-start: 18px; 
  padding-block-end: 10px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  transform: scaleX(0);
  block-size: 2px;
  background-color: var(--accent-color, black);
  transform-origin: left;
  transition: transform 0.3s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.3s;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-end: 95px;
  animation: arrow 0.5s ease-in-out infinite;
}

.theme-menu__item:last-child {
  padding-block-end: 0;
}

/* main */
.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Общие стили для карточек  */
.card {
  margin-block-start: 50px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 2px solid var(--border-container-color, black);
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-container-color, white);
}

.card:first-child {
  margin-block-start: 0;
}

.card__title {
  padding-block-start: 5px;
  padding-inline-start: 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-wght-bold, 700);
}

.card__image-container {
  position: relative;
}

.card__image-label {
  position: absolute;
  inset-block-start: 27px;
  inset-inline-end: 25px;
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow:
    -0.5px 0 var(--card-text-stroke-color, white), 
    0 0.5px var(--card-text-stroke-color, white), 
    0.5px 0 var(--card-text-stroke-color, white), 
    0 -0.5px var(--card-text-stroke-color, white);
  opacity: 50%;
}

@supports((text-stroke: 0.5px #ffffff) or (-webkit-text-stroke: 0.5px #ffffff)) {
  .card__image-label {
    -webkit-text-stroke: 0.5px var(--card-text-stroke-color, white);
    text-stroke: 0.5px var(--card-text-stroke-color, white);
    text-shadow: none;
  }
}

.card__image {
  inline-size: 100%;
  border-top: 2px solid var(--border-container-color, black);
  border-bottom: 2px solid var(--border-container-color, black);
}

.card__paragraph {
  padding-block-start: 14px;
  padding-inline: 25px;
  display: flex;
  line-height: 22px;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
}

/* Кнопка лайка */
.card__container-button {
  padding-block-start: 18px;
  padding-block-end: 25px;
  padding-inline-end: 25px;
  display: flex;
  gap: 6px;
  justify-content: right;
  align-items: center;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.button__like-text {
  inline-size: 84px;
  inset-inline-end: 21px;
  inset-block-end: 9px;
}

/* svg кнопка сердечка */
.card__icon-button {
  padding: 0;
  inline-size: 40px;
  block-size: 38px;
  border: 2px solid transparent;
  background-color: transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, black);
}

.like-icon {
  width: 37px;
}

.sparks {
  opacity: 0;
}

/* hover для сердца */
.like-icon .core {
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  transition: fill 0.3s;
}

.like-icon:hover .core {
  transition-delay: 0;
  fill: var(--heart-conture-color);
}

.like-icon:hover .main-body {
  transition-delay: 0.05s;
  fill: var(--heart-conture-color);
}

.like-icon:not(:hover) .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon:not(:hover) .core{
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

/* active для сердца */
.like-icon:active .core {
  fill: var(--heart-body-color, red);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-body-color, red);
  transition: fill 0.3s 0.05s;
}

/* Нажатие на кнопку svg heart */
.like-icon.is-liked .core {
  transition: fill 0.3s;
  fill: var(--heart-body-color, red);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s;
  fill: var(--heart-body-color, red);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.05s;
  fill: var(--heart-body-color, red);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: spark-animation 0.3s 0.3s ease-in alternate;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--heart-conture-color, black);
  transition: fill 0.1s linear;
}

/* Стили для всех карточек */
.card_paragraph-correction {
  line-height: 21.4px;
}

/* Стили для надписи над картинкой */
.lowercase {
  text-transform: lowercase;
}

/* Фильтры над картинкой */
.filter-grayscale { 
  filter: grayscale(70%);
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-sepia-hue-rotate {
  filter: sepia(100%) hue-rotate(50deg);
}

.filter-blur {
  filter: blur(5px);
}

.filter-saturate {
  filter: saturate(2);
}

/* button-save */
.button-save {
  margin-block-start: 15%;
  margin-block-end: 31%;
  inline-size: 339px;
  block-size: 55px;
  background-color: var(--background-container-color, white);
}

.button__save-text {
  inline-size: 266px;
  inset-inline-end: 21px;
  inset-block-end: 19px;
}

.floppy {
  position: absolute;
  z-index: 1;
  inset-block-start: 14px;
  inset-inline-start: 19px;
  inline-size: 21px;
  mix-blend-mode: difference;
}

/* Диалоговое окно */
dialog[open] {
  position: absolute;
  z-index: 1000;
  min-inline-size: 341px;
  max-inline-size: 341px;
  display: block;
  position: fixed;
  border: 2px solid var(--border-container-color, black);
  inset-inline: calc((100% /2) - 179px);
  inset-block: calc((100% / 2) - 102px);
  background-color: var(--background-container-color, white);
  color: var(--accent-color, black);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__container-item {
  margin-inline: 30px;
  margin-block-start: 30px;
  display: flex;
  gap: 20px;
  line-height: 21px;
}

.floppy-dialog {
  display: inline;
  inset-block-start: 14px;
  inset-inline-start: 19px;
  inline-size: 39px;
  mix-blend-mode: difference;
}

.button__dialog {
  inline-size: 280px;
  block-size: 38px;
  margin-inline-start: 30px;
  margin-block: 30px;
  text-transform: uppercase;
  font-size: 14px;
}

.dialog__title {
  inline-size: 218px;
  font-family: var(--accent-font, monospace);
  text-transform: uppercase;
  font-size: 14px;
}

.button__text-dialog {
  inset-inline-start: 131px;
  inset-block-start: 10px;
} 

@media (width <= 375px) {
  .container {
    margin-block-start: 27%;
    inline-size: 100vw;
    min-inline-size: 120px;
  }

  /* Шапка */
  .header__title {
    margin-block-start: 32%;
    font-size: clamp(1rem, 0.0294rem + 12.9412vw, 3.0625rem);
  }

  .header__sub-title {
    margin-block-start: 5.6%;
    font-size: clamp(0.625rem, 0.5074rem + 1.5686vw, 0.875rem);
  }

  .header__theme-menu {
    margin-block-start: 6.3%;
    margin-block-end: 5.7%;
  }

  .theme-menu__item {
    padding-inline-start: 21px;
  }

  .theme-menu__button:disabled::before {
    inset-inline-end: 95px;
  }
  
  /* Карточка */
  .card {
    gap: 4px;
  }

  .card__title {
    padding-inline-end: 4px;
  }

  .card__image-label {
    inset-block-start: 26px;
    inset-inline-end: 11px;
  }

  .card__paragraph {
    padding-block-start: 18px;
    line-height: 21px;
    gap: 27px;
  }

  .card__container-button {
    padding-block-start: 20px;
    padding-block-end: 25px;
  }

  .button-save {
    margin-block-start: 13%;
    inline-size: 310px;
    block-size: 85px;
  }

  .button__text {
    inset-block-end: 8px;
  }

  .footer__button {
    margin-block-start: 16%;
    inline-size: 310px;
    block-size: 85px;
  }

  .button__save-text {
    inset-block-end: 15px;
  }

  .floppy {
    inset-block-start: 16px;
    inset-inline-start: 139px;
    inline-size: 28px;
  }

  dialog[open] {
    inline-size: 341px;
    inset-inline: calc((100% /2) - 170px);
    inset-block: calc((100% / 2) - 94px);
    font-size: 14px;
  }

  .dialog__container-item {
    margin-inline: 41px;
  }

  .dialog__title {
    inline-size: 196px;
  }

  .button__dialog {
    inline-size: 257px;
    margin-inline: 40px;
  }

  .button__text-dialog {
    inset-inline-start: 113px;
    inset-block-start: 11px;
  }
}
