/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* Общие стили для контейнеров */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-wght-normal);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  /* background-attachment: fixed; */
  background-size: cover;
}

.container {
  margin-block-start: 6.905%;
  inline-size: 48.6%;
  min-inline-size: 375px;
}

/* Header */
.header {
  border: 2px solid var(--border-container-color, black);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: var(--background-container-color, white);
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;

}

.header__title {
  margin-block-start: 19.48%;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__sub-title {
  margin-block-start: 3%;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* Кнопки переключения тем */
.header__theme-menu {
  margin-block-start: 3.5%;
  margin-block-end: 3.1%;
  font-size: 14px;
}

.theme-menu__item {
  padding-inline-start: 18px; 
  padding-block-end: 10px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  transform: scaleX(0);
  block-size: 2px;
  background-color: var(--accent-color, black);
  transform-origin: left;
  transition: transform 0.3s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.3s;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -15px;
}

.theme-menu__item:last-child {
  padding-block-end: 0;
}

/* Общие стили для карточек  */
.card {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 2px solid var(--border-container-color, black);
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-container-color, white);
}

.card__title {
  padding-block-start: 5px;
  padding-inline-start: 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-wght-bold, 700);
}

.card__image-container {
  position: relative;
}

.card__image-label {
  position: absolute;
  inset-block-start: 27px;
  inset-inline-end: 25px;
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow:
    -0.5px 0 var(--card-text-stroke-color, white), 
    0 0.5px var(--card-text-stroke-color, white), 
    0.5px 0 var(--card-text-stroke-color, white), 
    0 -0.5px var(--card-text-stroke-color, white);
  opacity: 50%;
}

@supports((text-stroke: 0.5px #ffffff) or (-webkit-text-stroke: 0.5px #ffffff)) {
  .card__image-label {
    -webkit-text-stroke: 0.5px var(--card-text-stroke-color, white);
    text-stroke: 0.5px var(--card-text-stroke-color, white);
    text-shadow: none;
  }
}

.card__image {
  inline-size: 100%;
  border-top: 2px solid var(--border-container-color, black);
  border-bottom: 2px solid var(--border-container-color, black);
}

.card__paragraph {
  padding-block-start: 14px;
  padding-inline: 25px;
  display: flex;
  line-height: 22px;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
}

/* Кнопка лайка */
.card__container-button {
  padding-block-start: 18px;
  padding-block-end: 25px;
  padding-inline-end: 25px;
  display: flex;
  gap: 6px;
  justify-content: right;
  align-items: center;
}

.card__like-button {
  position: relative;
  block-size: 38px;
  border-style: solid;
  border-color: var(--border-container-color, black);
  inline-size: 130px;
  background-color: transparent;
}

.button__text {
  z-index: 1;
  position: absolute;
  inline-size: 84px;
  inset-inline-end: 21px;
  inset-block-end: 9px;
  color: white;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  mix-blend-mode: difference;
}

.card__like-button:focus {
  outline: none;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color, black);
}

.card__like-button::after {
  content: '';
  position: absolute;
  display: block;
  inset-block-start: 0px;
  inset-inline-start: 0px;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color, black);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

/* svg кнопка сердечка */
.card__icon-button {
  padding: 0;
  inline-size: 40px;
  block-size: 38px;
  border: 2px solid transparent;
  background-color: transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, black);
}

.like-icon {
  width: 37px;
}

.sparks {
  opacity: 0;
}

/* hover для сердца */
.like-icon .core {
  transition: fill 0.3s;
}

.like-icon .main-body {
  transition: fill 0.3s;
}

.like-icon:hover .core {
  fill: var(--heart-conture-color);
}

.like-icon:hover .main-body {
  transition-delay: 0.05s;
  fill: var(--heart-conture-color);
}

.like-icon:not(:hover) .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon:not(:hover) .core{
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

/* active для сердца */
.like-icon:active .core {
  fill: var(--heart-body-color, red);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-body-color, red);
  transition: fill 0.3s 0.05s;
}

/* Нажатие на кнопку svg heart */
.like-icon.is-liked .core {
  transition: fill 0.3s;
  fill: var(--heart-body-color, red);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s;
  fill: var(--heart-body-color, red);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s ;
  fill: var(--heart-body-color, red);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s 0.1s ease-in forwards;
}

.like-icon.is-liked .sparks {
  animation: spark-animation 0.3s 0.3s ease-in forwards;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--heart-conture-color, black);
  transition: fill 0.1s linear;
}

@media (width <= 375px) {
  .container {
    margin-block-start: 27%;
    inline-size: 100vw;
    min-inline-size: 120px;
  }

  /* Шапка */
  .header__title {
    margin-block-start: 32%;
    font-size: clamp(1rem, 0.0294rem + 12.9412vw, 3.0625rem);
  }

  .header__sub-title {
    margin-block-start: 5.6%;
    font-size: clamp(0.625rem, 0.5074rem + 1.5686vw, 0.875rem);
  }

  .header__theme-menu {
    margin-block-start: 6.3%;
    margin-block-end: 5.7%;
  }

  .theme-menu__item {
    padding-inline-start: 21px;
  }

  .theme-menu__button:disabled::before {
    inset-inline-end: 95px;
  }
  
  /* Карточка */
  .card {
    gap: 4px;
  }

  .card__title {
    padding-inline-end: 4px;
  }

  .card__image-label {
    inset-block-start: 26px;
    inset-inline-end: 11px;
  }

  .card__paragraph {
    padding-block-start: 18px;
    line-height: 21px;
    gap: 27px;
  }

  .card__container-button {
    padding-block-start: 20px;
    padding-block-end: 25px;
  }

  .button__text {
    inset-block-end: 8px;
  }
}
