:root.theme-light {
    /* Шрифт */
    --main-wght-bold: 700;
    --main-wght-normal: 400; 

    /* Цвета */
    --background-color: #fff;
    --accent-color: #000;
}

:root.theme-dark {
    /* Шрифт */
    --main-wght-bold: 785;
    --main-wght-normal: 465; 

    /* Цвета */
    --background-color: #000;
    --accent-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Шрифт */
        --main-wght-bold: 785;
        --main-wght-normal: 465;

        /* Цвета */
        --background-color: #000;
        --accent-color: #00cc14;
    }
}