:root.theme-light {
    /* Шрифт */
    --main-wght-bold: 700;
    --main-wght-normal: 400; 

    /* Цвета */
    --background-color: #fff;
    --accent-color: #000;
    --border-container-color: #000000;
    --card-text-stroke-color: #ffffff; 
    --background-container-color: #ffffff;

    /* svg сердце */
    --heart-conture-color: #000000;
    --heart-body-color: #ff0000;
    --heart-body-hover-color: #000000;

    /* Фон */
    --background-image: 
    repeating-linear-gradient(
        #d3d3d3 0px, 
        #d3d3d3 2px, 
        transparent 2px, 
        transparent 4px
    ),
    repeating-linear-gradient(
        to right, 
        #d3d3d3 0px, 
        #d3d3d3 2px, 
        transparent 2px, 
        transparent 4px
    ),
    linear-gradient(
        #e7e7e7 0.01%, 
        #1a1a1a 100%
    );
}

:root.theme-dark {
    /* Шрифт */
    --main-wght-bold: 785;
    --main-wght-normal: 465; 

    /* Цвета */
    --background-color: #000;
    --accent-color: #00cc14;
    --border-container-color: #00cc14;
    --card-text-stroke-color: #000000; 
    --background-container-color: #000000;

    /* svg сердце */
    --heart-conture-color: #00cc14;
    --heart-body-color: #ff0000;
    --heart-body-hover-color: #000000;

    /* Фон */
    --background-image: 
    repeating-linear-gradient(
        #000 0px, 
        #000 2px, 
        transparent 2px, 
        transparent 4px
    ),
    repeating-linear-gradient(
        to right, 
        #000000 0px, 
        #000000 2px, 
        transparent 2px, 
        transparent 4px
    ),
    linear-gradient(
        to bottom,
        #007f0c 0.01%,
        #004306 100%
    );
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Шрифт */
        --main-wght-bold: 785;
        --main-wght-normal: 465;

        /* Цвета */
        --background-color: #000;
        --accent-color: #00cc14;
        --border-container-color: #00cc14;
        --card-text-stroke-color: #000000; 
        --background-container-color: #000000;

        /* svg сердце */
        --heart-conture-color: #00cc14;
        --heart-body-color: #ff0000;
        --heart-body-hover-color: #00cc14;
        

        /* Фон */
        --background-image: 
        repeating-linear-gradient(
            #000 0px, 
            #000 2px, 
            transparent 2px, 
            transparent 4px
        ),
        repeating-linear-gradient(
            to right, 
            #000000 0px, 
            #000000 2px, 
            transparent 2px, 
            transparent 4px
        ),
        linear-gradient(
            to bottom,
            #007f0c 0.01%,
            #004306 100%
        );
    }
}
