:root {
    /* Шрифт */
    --main-font: 'Inter-Variable', sans-serif;
    --main-wght-bold: 700;
    --main-wght-normal: 400;

    --accent-font: 'PressStart2P', monospace;

    /* Цвета */
    --background-color: #fff;
    --accent-color: #000;
    --card-text-stroke-color: #000000;
    --background-container-color: #ffffff;

    /* Фон */
    --background-image: 
        repeating-linear-gradient(
            #d3d3d3 0px, 
            #d3d3d3 2px, 
            transparent 2px, 
            transparent 4px
        ),
        repeating-linear-gradient(
            to right, 
            #d3d3d3 0px, 
            #d3d3d3 2px, 
            transparent 2px, 
            transparent 4px
        ),
        linear-gradient(
            #e7e7e7 0.01%, 
            #1a1a1a 100%
        );
}
